#title {

color: #01386A;
font-size: xx-large;
text-align: center;







}


.recipes-links{

color: aquamarine;




}


#link{

color: pink;



}


.finaltext{

color: #00ff00;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#top{

text-align: center;
color: #01386A;

}


#Description{

text-align: center;


}

